<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!--<connectionStrings>
      <add name="MyNursingFutureConnection" connectionString="Data Source=apnacms.hba.rxpservices.com;Initial Catalog=MyNursingFuture;Trusted_Connection=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  <connectionStrings>
    <add name="MyNursingFutureConnection" connectionString="Data Source=DESKTOP-4FA2KIC\SQLEXPRESS;Initial Catalog=MyNursingFuture;User ID=sa;Password=e3b6e7F5!?.;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>