@{
    ViewBag.Title = "Changes Log";
    var lChanges = ViewBag.Changes;
    var grid = new WebGrid(rowsPerPage: 20);
    grid.Bind(lChanges, autoSortAndPage: false, rowCount: (int)ViewBag.RowCount);
}

<h2>Changes</h2>

@grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    alternatingRowStyle: "",
    numericLinksCount: 15,
    mode: WebGridPagerModes.All,
    footerStyle: "text-center",
    firstText: "<< First",
    nextText: "Next >",
    previousText: "< Previous",
    lastText: "Last >>",
    columns: new[]
    {
grid.Column("TableName", "Table Name", canSort: false),
grid.Column("Identifier", "Identifier", canSort: false),
grid.Column("Username", "Username", canSort: false),
grid.Column("Operation", "Operation", canSort: false),
grid.Column("", "Date", canSort: false, format:@<span>@item.Date.ToString("dd/MM/yyyy HH:mm")</span>)})


@section scripts
{
    <script>
        $('table').prepend('<thead><tr><th colspan="@grid.ColumnNames.Count()">@Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-primary pull-left" })</th></tr></thead>');
    </script>
}
