
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


@section ColumnLabels {
    <th style="width: 66%">Title</th>
}

@foreach (var item in ViewBag.Actions)
{
    <tr>
        <td>@item.Title</td>
        <td>
            @CustomHelpers.EditActionButton(item.ActionId)
        @CustomHelpers.DeleteActionButton(item.ActionId)
    </td>
</tr>
}