
@using MyNursingFuture.BL.Entities;

@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section ColumnLabels {
    <th>Name</th>
}

@foreach (DefinitionEntity item in ViewBag.Definitions)
{
    <tr>
        <td>@item.Name</td>
        <td>@CustomHelpers.EditActionButton(item.DefinitionId)
        @CustomHelpers.DeleteActionButton(item.DefinitionId)</td>
    </tr>
}