<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" id="success-position" style="display: none">
            @(ViewBag.SuccessMessage ?? "Position updated")
        </div>
        <div class="alert alert-danger" id="error-position" style="display: none">
            @(ViewBag.ErrorMessage ?? "An error occurred updating the position")
        </div>
    </div>
</div>
